body{
  background-color: rgb(216, 244, 250);
}

nav ul{
    display:flex;
    flex-direction: row;
    justify-content:space-around;
    list-style:none;
    background-color: rgb(183, 240, 253);
    margin-top: 0%;
    padding-bottom: 1em;
  }
  
  nav ul li{
    padding: 1.5em;
    margin-top: 1em;
    font-size: 20px;
    border: 1px solid #76c2f8;
    background-color: rgb(216, 244, 250);
    height: 20px;
    width: 90px;
    text-align: center;
    color: black;
    box-shadow: 0 4px 8px 0 rgba(28, 133, 245, 0.793);
  }

  #nav1{
    height: 120px;
  }

  #contact{
    text-align:center;
    padding-top: 0.2em;
    height: 50px;
    width: 90px;
  }
  
  #main{
    height:500px;
    text-align:center;
    margin-top: -4em;
    background-image: url("img/bg.jpeg");
    background-size: 100% 100%;
  }

  #main h1{
    color:rgb(0, 0, 0);
    text-align: center;
    vertical-align: middle;
    line-height: 200px;
    font-size: 50px;
    padding-top: 1.5em;
  }

  h1{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0.5em;
    
  }

  #main p{
    color: black;
    text-align: center;
    vertical-align: middle;
    margin-top: -3em;
    font-size: 30px;

  }

  #main a{
    color: white;
    vertical-align: middle;
    border: 1px solid #76c2f8;
    background-color: rgb(216, 244, 250);
    color:rgb(0, 0, 0);
    padding: 0.5em;
    font-size: 20px;
    box-shadow: 0 4px 8px 0 rgba(28, 133, 245, 0.793);
  }

  h2 + p{
    background-color: rgb(216, 244, 250);
    color:black;
    padding:1em;
    font-size: 20px;
  }
  
  #cards{
    display:flex;
    flex-flow:row wrap;
    justify-content: space-around;
    
  }

  #contact2{
    color: black;
  }

  #SFT{
    text-align: center;
    font-size: 30px;
    color:black;
  }

  #storeCards{
    display:flex;
    flex-flow:row wrap;
    justify-content: space-around;
    
  }

  #cards .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
    border: 2px dashed black;
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
    width: 300px;
    height: 270px;
    margin: auto;
    text-align: center;
    font-family: arial;
    background-color: rgb(183, 240, 253);
  }

  #M1R0 {
    width: 150px;
    height: 150px;
  }

  #M1{
    width: 148px;
    height: 146px;
  }

  img{
    border-radius: 5%;
  }

  #logo{
    width: 300px;
    height: 235px;
    margin-top: -4em;
    margin-left: -8em;
    margin-right: 0%;
  }
  
  .price {
    color: grey;
    font-size: 22px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }

  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: rgb(183, 240, 253);
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .card #description{
    display: none;
  }

  .modal-content #description{
    display: inline-block;
  }

  .form{
    margin-top: 2em;
  }
  input{
    border: 1px solid rgba(28, 133, 245, 0.793);
    border-radius: 10px;
    height: 25px;
    padding-left: 0.5em;
  }

  .accountInput{
    width: 300px;
    height: 18px;
  }

  #logIn{
    /*Display Type*/
    display: flex;
    flex-direction: column;
    align-items: center;

    
  }

  #accountSubmit{
    width: 65px;
    height: 25px;
  }

  #userInfo{
    display: flex;
    flex-direction: column;
    align-items: center;

    /*Border*/
    border-style: inset;
    border-color: rgb(143, 143, 143);
  }

  #accountImage{
    width: 35%;
    height: 35%;
  }

  #btnBuyThis{
    background-color: rgb(0, 113, 157);
  }