html
  head
      style
        include userPageStyle.css
      script 
        include userScript.js 
   
  body
    h1
      em #{username}'s 
      | User Page

    button(type='button' id='SFTButton' onclick='browseSFTs()') Browse Your SFTs
    